.nav-button {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 9px;
  border: none;
  border-radius: 9px;
  color: var(--text-color);
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-button.center {
  justify-content: center;
}

.nav-button.bold {
  font-weight: bold;
}

.nav-button.red {
  background-color: rgb(163, 37, 37);
  color: rgb(255, 255, 255);
  transition: opacity 0.3s ease;
}

.nav-button.red:hover {
  opacity: 0.7;
  background-color: rgb(163, 37, 37);
}

.nav-button:hover {
  cursor: pointer;
  background-color: var(--complement);
}