.content-panel {
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 18px;
  border: none;
  padding-bottom: 18px;
  padding-top: 18px;
  border-radius: 9px;
  background-color: var(--base-color);
}

.content-panel .container {
  width: calc(100% - 45px);
  height: 100%;
  display: flex;
  margin-left: 18px;
  margin-right: 18px;
  gap: 18px;
  padding-right: 9px;
  overflow-y: auto;
  overflow-x: auto;
  flex-direction: column;
  scroll-behavior: smooth;
}

.content-panel .container.gap-9px {
  gap: 9px;
}

.content-panel .container::-webkit-scrollbar {
  width: 9px;
}

.content-panel .container::-webkit-scrollbar-track {
  border-radius: 9px;
}

.content-panel .container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 9px;
}

.content-panel .container .sub-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 9px;
  column-gap: 9px;
}

.content-panel .container .sub-container::-webkit-scrollbar {
  display: none;
}