.guide-modal {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.guide-modal h5, p {
  text-align: left;
}

.guide-modal a {
  font-size: 14px;
  color: var(--text-color);
}