:root {
  --base-color: rgb(35, 35, 35);
  --secondary-color: rgb(45, 45, 45);
  --complement: rgb(25, 25, 25);

  --text-color: rgb(255, 255, 255);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'poppins', 'sans serif';
}

h4, h3, h2, h1 {
  color: var(--text-color);
}

html, body {
  background-color: var(--complement);
}

.App {
  width: calc(100% - 18px);
  height: 100vh;
  display: flex;
  justify-content: center;
  row-gap: 9px;
  column-gap: 9px;
  padding: 9px;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 9px;
}

.wrapper .h2 {
  width: calc(100% - 36px);
  text-align: center;
  background-color: var(--base-color);
  padding: 18px;
  border-radius: 18px;
}