:root {
  --base-color: rgb(220, 220, 220);
  --secondary-color: rbg(200, 200, 200);
  --complement: rgb(210, 210, 210);

  --text-color: rgb(60, 60, 60);

  --shadow: rgba(0, 0, 0, 0.1);

  --accent: rgba(31, 117, 254, 0.6);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'poppins', 'sans serif';
  transition: top 0.3s ease, background-color 0.3s ease, color 0.3s ease, height 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

p, h6, h5, h4, h2, h1 {
  text-align: center;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

h2, h3 {
  color: var(--text-color);
  width: calc(100% - 8px);
  border-radius: 9px;
  text-align: center;
  text-overflow: none;
}

p {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
  font-size: 14px;
  color: var(--text-color);
  width: fit-content;
}

i {
  color: var(--text-color);
}

html, body {
  background-color: var(--complement);
}

.App {
  width: calc(100% - 18px);
  height: calc(100vh - 18px);
  display: flex;
  justify-content: center;
  row-gap: 9px;
  column-gap: 9px;
  padding: 9px;
  flex-wrap: wrap;
}

input {
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

input.width-half-parent {
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: center;
  align-items: center;
}

.row.left {
  justify-content: left;
}

.row.no-gap {
  gap: 0;
}