:root {
  --base-color: rgb(35, 35, 35);
  --secondary-color: rgb(45, 45, 45);
  --complement: rgb(25, 25, 25);

  --text-color: rgb(255, 255, 255);

  --shadow: rgba(200, 200, 200, 0.3);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'poppins', 'sans serif';
  transition: background-color 0.3s ease, color 0.3s ease;
}

p, h6, h5, h4, h3, h2, h1 {
  text-align: center;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  width: calc(100% - 44px);
  border-radius: 9px;
  padding: 4px;
}

p {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
  font-size: 14px;
  color: var(--text-color);
  width: fit-content;
}

i {
  color: var(--text-color);
}

html, body {
  background-color: var(--complement);
}

.App {
  width: calc(100% - 18px);
  height: calc(100vh - 36px);
  display: flex;
  justify-content: center;
  row-gap: 9px;
  column-gap: 9px;
  padding: 9px;
  flex-wrap: wrap;
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--text-color);
  background-color: var(--secondary-color);
}